.minicart{
	position: fixed 0 * * 0;
	z-index: calc($z-over-everything + 10);

	display: flex;
	display: none;
	height: 4.8rem;

	color: white;

	// mods

	// elements
	&__{
		&tube{
			max-size: .5rem 2rem;

			margin-top: -.25em;
			margin-right: .5rem;

			fill: currentColor;
			color: inherit;
		}
		&coins{
			max-size: 2.625rem;
		}
		&amount{
			display: flex;
			align-items: center;
			justify-content: center;

			width: 5rem;

			font-size: 2rem;
			line-height: 1;

			background-color: $color--secondary;
		}
		&price{
			display: flex;
			justify-content: center;
			align-items: center;

			width: 12.5rem;
			font-size: 2rem;

			background-color: $color;
			&::after{
				content: "₽";
				margin-left: .75rem;
			}
		}
		&button{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 5rem;

			background-color: $color;
		}
	}
}
