.input{

	color: $color--dim;

	display: flex;
	justify-content: space-between;

	// mods
	&:not(:first-child){
		margin-top: 1rem;
	}
	&._invalid &__,
	&--invalid &__{
		&field{
			border-color: $color--primary;
		}
	}

	// elements
	&__{
		&icon{
			order: -1;

			max-size: 2rem;
			min-width: 2rem;
			margin: 1rem 1rem * *;

			transition: ;

			fill: currentColor;
		}
		&field:focus + &icon{
			color: color($color--dim l(-20%));
		}
		&field{
			flex: 1;
			box-sizing: border-box;
			min-width: initial;
			max-width: initial;
			width: initial;
			height: 4rem;
			padding: 0 1.625rem;
			border: 2px solid transparent;

			font-family: inherit;
			font-weight: 300;
			font-size: 23px;

			background-color: white;
			border-radius: 2rem;
			box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
			color: inherit;
			outline: none;
			appearance: none;

			// mods
			&::placeholder{
				opacity: 1;
			}
			&--{
				&text{
					min-height: 8rem;
					line-height: 4rem;
				}
			}
		}
	}
}
