.footer{

	height: $size__footer;
	padding: * 2rem;

	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: $color__bg;

	// mods

	// elements
	&__{
		&callback-icon{
			size: 2.5rem;

			fill: $color;
		}
		&faq{
			@extend %link;

			font-size: 3.25rem;
			font-weight: 700;

			color: $color;

			// pseudoelements
			&::after{
				content: '?';

			}
		}
	}
}
