/* stylelint-disable */
.place{

	// mods

	// elements
	&__{
		&metro{
			font-size: 1.875rem;
			font-weight: 500;
			color: $color--secondary;
		}
		&address{
			margin-top: 0.5rem;
			font-weight: 1.25rem;
		}
		&metro,
		&time,
		&text{
			margin-top: 1.5rem;
		}
		&time,
		&text{
			font-size: 1.25rem;
			white-space: pre-wrap;
		}
		&time{
			line-height: 1.5rem;

			color: $color--dim;
		}
		&text{
			line-height: 1.75rem;

			color: $color__black;
		}
	}
}
