.header{

	background-color: $color__bg;

	// mods
	&:not(&--menu) &__{
		&nav,
		&user,
		&icon-logo,
		&menu-list{
			transition-delay: .6s;
		}
		&menu-list{
			visibility: hidden;
		}
	}
	&--menu &__{
		&nav{
			background: $color;
		}
		&user{
			fill: white;
		}
		&menu-line{
			background: white;

			// mods
			&:nth-child(2){
				opacity: 0;
			}
			&:first-child,
			&:last-child{
				transform: rotate(45deg);
			}
			&:last-child{
				transform: rotate(-45deg);
			}
		}
		&icon-logo{
			filter: brightness(0) invert(100%);
		}
	}

	// elements
	&__{
		&nav,
		&logo{
			padding: * 1.5rem;
		}
		&nav{
			transition-duration: $transition;
		}
		&user{
			size: 2.8125rem;

			fill: $color--dim;

			overflow: hidden;

			// mods
			&--login{
				border-radius: 50%;
			}
		}
		&icon{

			// subelements
			&-{
				&logo{
					size: 3rem 1.75rem;

					fill: url(#icon-chromolab-icon-a);

					transition-property: filter;
					transition-duration: $transition;
					will-change: filter;
				}
			}
		}
		&nav{
			padding: 1rem *;

			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&menu{

			// subelements
			&-{
				&icon{

					size: 2.25rem 1.75rem;

					position: relative;
					display: flex;
					align-items: center;
					justify-content: space-between;

					// mods
					&:hover{
						cursor: pointer;
					}
				}
				&line{
					width: 100%;
					height: .25rem;
					background: $color;

					transition: ;

					// mods
					&:first-child,
					&:last-child{
						position: absolute * 0;
					}
					&:first-child{
						top: 0;
						transform-origin: top left;
					}
					&:last-child{
						bottom: 0;
						transform-origin: bottom left;
					}
				}
				&list{
					position: absolute 100% 0 *;
					z-index: $z-over-everything;
				}
			}
		}
		&footer{
			padding: * * 2rem;

			text-align: center;

			// subelements
			&-{
				&icon{
					size: 17rem 2.375rem;
				}
			}
		}
	}
}
