
// direct
$color__white: gray(95%);
$color__gray: gray(66%);
$color__black: gray(18%);
$color__red: hsl(335, 75%, 50%);
$color__purple: hsl(320, 60%, 40%);
$color__purple--dark: hsl(257, 45%, 30%);

// preabstract

// abstract
$color--primary: $color__red;
$color--secondary: $color__purple;
$color--tertiary: $color__purple--dark;
$color--dim: $color__gray;
$color: $color--primary;
$color__text: $color--secondary;
$color__bg: $color__white;
