.category{

	// mods
	&:not(&--open) &__{
		&content{
			display: none;
		}
	}
	&--open &__{
		&icon{
			transform: rotate(.5turn);
		}
	}

	// elements
	&__{
		&icon{
			max-size: 2rem 1rem;

			fill: currentColor;

			transition: ;
		}
	}
}
