.analysis{
	margin-top: 2rem;
	// mods
	&--{
		&open{
			.analysis__content{
				visibility: visible;
				opacity: 1;
				height: auto;
			}
		}
	}
	// elements
	&__{
		&title{
			font-size: 1.25rem;
			color: $color--primary;
		}
		&info{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-right: -2rem;
			margin-top: .5rem;
		}
		&button{
			position: relative;
			box-sizing: border-box;

			size: 4rem;
			border: none;
			background-color: $color--primary;
			color: #fff;
			cursor: pointer;
			user-select: none;
			&::after{
				content: "";

				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 1.5rem;
				height: .25rem;
				background-color: #fff;
			}
			&::before{
				content: "";

				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 1.5rem;
				width: .25rem;
				background-color: #fff;
			}
		}
		&code{
			font-size: 1.25rem;
			color: $color--dim;
		}
		&time{
			font-size: 1.25rem;
			color: $color__black;
		}
		&price{
			font-size: 1.5rem;
			color: $color--tertiary;
			&::after{
				content: "₽";
				margin-left: .5rem;
				font-size: 1.25rem;
			}
		}
		&content{
			flex: 1;
		}
		&text{

			max-height: 6.2em;
			margin-top: 1rem;

			font-size: 1.25rem;

			text-overflow: ellipsis;

			color: $color__black;

			overflow: hidden;

			// mods
			&--{
				&open{
					max-height: none;
				}
			}
		}
		&more{
			margin: 1.5rem *;

			font-size: 1.25rem;

			text-decoration: underline;
			color: $color--primary;
			cursor: pointer;
		}
		&tab{
			margin: * -2rem .125rem;

			// subelements
			&-{
				&title,
				&content{
					padding: * 2rem;
				}
				&title{
					padding: 1.5rem *;

					font-size: 1.5rem;

					background-color: $color__bg;

					display: flex;
					align-items: center;
					justify-content: space-between;
				}
				&arrow{
					max-size: 2rem 1rem;

					fill: currentColor;
				}
				&content{
					display: none;
				}
			}
		}
	}
}
