.discount{

	margin: 0 0 2rem;

	// mods
	&--open &__{
		text-decoration: none;
	}
	&--closed &__text{
		display: none;
	}

	// elements
	&__{
		&title{
			font-size: 1.25rem;

			text-decoration: underline;

			color: #a0445a;
			cursor: pointer;
		}
		&text{
			display: block;
			margin-top: 2rem;

			font-size: 1.25rem;
			white-space: pre-wrap;

			color: #2e2e2e;
		}
	}
}
